h1 {
    text-align: center;
    font-size: 4vh;
    background-image: url("Images/hexagons.jfif");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}

nav>ul{
    display: flex;
    list-style-type: none;
    padding-left: 0%;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin: 0%;
}

nav>ul>a>li {
    padding: .5vh;
    font-size: 160%;
}

nav>ul>a>li:hover {
    background-color: red;
}

nav>ul>a>li {
    text-decoration: none;
    color: black;
}

#active {
    background-color: crimson;
}

footer {
    border-style: solid;
    width: 100%;
    margin-top: auto;
}

a>img {
    width: 90%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f3d421;
    padding: 10px;
  }

  .grid-item {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    grid-auto-columns: 45vw;
  }